<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trainingmanager">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/harold"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/harold"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewSessionScreen"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SessionEntryScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SessionEntryScreen"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".WorkoutLaunchScreen" />
        <activity
            android:name=".SessionScreen"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SessionEntryScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProgramDesigner"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Programmes"/>
        <activity android:name=".WorkoutEndScreen" />
        <activity
            android:name=".WorkoutLaunchScreen"
            android:parentActivityName=".Programmes" />
        <activity
            android:name=".Programmes"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>